{% extends 'base.html' %}
{% block title %}
Badge in gadget
{% endblock %}
{% block content %}

<div class="title bg-white pt-2" style="display: flex;">
    <div class="menu text-dark" id="btn">
        <i class="fas fa-bars    "></i>
    </div>
    <h5 class="text-left" style="font-weight: 600; margin-left: 10px;">BADGED OUT NON STAFF LIST</h5>
    <p class="text-right" style="margin-left: 60%;">
      <img src="https://www.svgrepo.com/show/311063/person.svg" width="30" height="30" alt="">
      {{username}}
    </p>
</div>
<!-- <div class="pages mt-2" style="padding-left: 40%;">
    {% if results.has_previous %}
  
      <a class="btn btn-primary" style="height: 35px; font-size: 12px;" href="?page=1&username={{username}}&gate={{gate}}">&laquo;</a>
      <a class="btn btn-primary" style="height: 35px; font-size: 12px;" href="?page={{results.previous_page_number}}&username={{username}}&gate={{gate}}">Previous</a>
    {% endif %}
    <span style="font-size: 12px;">Pages {{results.number}} of {{results.paginator.num_pages}}</span>
    {% if results.has_next %}
      <a class="btn btn-primary" style="height: 35px; font-size: 12px;" href="?page={{results.next_page_number}}&username={{username}}&gate={{gate}}">next</a>
      <a class="btn btn-primary" style="height: 35px; font-size: 12px;" href="?page={{results.paginator.num_pages}}&username={{username}}&gate={{gate}}">&raquo;</a>
    {% endif %}
  </div> -->
  <div class="header mt-3" style="display: flex; justify-content: space-between;" >
    <input type="text" class="form-control" id="search" placeholder="Search here .........." onkeyup="searchfunction()" style="width: 600px;">
    <a href="{% url 'badgeout_nonstaff' %}?username={{username}}&gate={{gate}}" class="btn btn-primary" style="font-size: 13px;">Badge out new</a>
  </div>
<div class="mt-2 shadow rounded">
<table class="table m-3" id="product_table">
    <thead>
        <tr>
            <th>#</th>
            <th>Visitor ID</th>
            <th>Full Name</th>
            <th>Dest Department</th>
            <th>Contact</th>
            <th>Gadget type</th>
            <th>Serial Number</th>
            <th>Date/Time</th>
            <!-- <th>Reason</th> -->
            <!-- <th>Date/time</th> -->
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody id="body">
        {% for result in results %}
        <tr style="font-size: 13px;" class="product">
            <td scope="row">{{result.id}}</td>
            <td><h6>{{result.visitor_ID}}</h6></td>
            <td>{{result.fullname}}</td>
            <td>{{result.dest_dept}}</td>
            <td>{{result.contact}}</td>
            <td>{{result.gadget_name}}</td>
            <td>{{result.serial_number}}</td>
            <td>{{result.date_time_out}}</td>
            <!-- <td>{{result.date_time}}</td> -->
            <!-- <td class="text-center">
                <a href="delete_badge/{{result.id}}/?username={{username}}&gate={{gate}}" class="btn btn-danger" style="font-size: 12px;">Badge Out</a>
            </td> -->
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>
{% load static %}
<script src="{% static 'script1.js '%}"></script>
{% endblock%}