{% extends 'base.html' %}
{% block title %}
Badge Out gadget
{% endblock %}
{% block content %}

<div class="title bg-white pt-2" style="display: flex; margin: 0;">
    <div class="menu text-dark" id="btn">
        <i class="fas fa-bars    "></i>
    </div>
    <h5 class="text-left" style="font-weight: 600; margin-left: 10px;">BADGE IN NON STAFF</h5>
    <p class="text-right" style="margin-left: 60%;">
      <img src="https://www.svgrepo.com/show/311063/person.svg" width="30" height="30" alt="">
      {{username}}
    </p>
</div>


  
<!-- </div> -->
<!-- register personal gadget -->

<div class="register ">
  <!-- <h5 class="text-left" style="font-weight: 600; margin-left: 10px;">Enter details of Non Staff</h5> -->
  <div class="row">
    
    <div class="modal-body p-1">
        <div class="container">
          <div class="row">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-10">
              <form action="{% url 'badgeIn_nonstaff' %}?username={{username}}&gate={{gate}}" method="post">
                <div style="display:flex; justify-content: space-between;">
                  <h5 class="text-left mt-3">Enter Details</h5>
                  
                  <a href="{% url 'badgedinnonstaff' %}?username={{username}}&gate={{gate}}" style="font-size: 13px;" class="btn btn-primary float-right mt-3">View list</a>
                </div>
                {% for message in messages %}
                  <input type="text" class="m-2 form-control text-center text-dark" style="background-color: #FFFDD0; font-weight:600; font-size: 15px;" value="{{message}}">
                {% endfor %}
                {% csrf_token %}
                
                <div class="row">
                  <div class="form-group col-6 mt-2">
                    <label for="">Name: </label>
                    <input type="text" name="NAME" class="form-control">
                  </div>
                  <div class="form-group col-6 mt-2">
                    <label for="">Visitor's ID: </label>
                    <input type="text" name="ID" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6 mt-2">
                    <label for="">Department: </label>
                    <input type="text" name="DEPARTMENT" class="form-control">
                  </div>
                  <div class="form-group col-6 mt-2">
                    <label for="">Contact: </label>
                    <input type="text" name="CONTACT" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6 mt-2">
                    <label for="">Gadget: </label>
                    <input type="text" name="GADGET" class="form-control">
                  </div>
                  <div class="form-group col-6 mt-2">
                    <label for="">Number of Gadgets: </label>
                    <input type="number" name="NO_GADGETS" class="form-control">
                  </div>
                </div>
              
                <!-- <div class="row form-group"> -->
                  <!-- <div class="col-"> -->
                    <input type="submit" name="Submit" value="BADGE IN " class=" mt-3 mb-3 btn text-white" style = "background-color: #2A0403;">
                  <!-- </div> -->
                  <!-- <div class="col-6"> -->
                    
                  <!-- </div> -->
                <!-- </div> -->
              </form>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
  </div>
</div>

{% endblock%}