{% extends 'base.html' %}

{% block title %}
Home page
{% endblock title %}
{% block content %}
<div class="title bg-white pt-2" style="display: flex;">
    <div class="menu text-dark" id="btn">
        <i class="fas fa-bars    "></i>
    </div>
    <h5 class="text-left text-uppercase" style="font-weight: 600; margin-left: 10px;">{{gate}} SECURITY ADMIN DASHBOARD</h5>
    
    
    <p class="text-right " style="margin-left: 50%;">
        <img src="https://www.svgrepo.com/show/311063/person.svg" width="30" height="30" alt="">
        {{username}}
    </p>

    
    
</div>
<div class="container">
    <div class="row p-3">
    
        <div class="col-lg-6 p-3">
            <a href="" style="color:#5D4037; text-decoration: none;">
                <!-- <button class="btn p-5" style="background-color: #A52A2A" ><h6 class="text-dark">count: {{person_count}}</h6><h4 class="text-white">Registered Persons </h4></button> -->
                <div class="card bg-white shadow p-2 margin-left:20px;">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="card-title" style="font-weight: 600;">BADGED IN GADGETS</h6>
                                <hr>
                                <div class="card-text" style="display: flex; justify-content:space-around;">
                                    <a href="{% url 'badgedinstaff' %}?username={{username}}&gate={{gate}}" style="text-decoration: none; font-weight: 600;" class="text-dark" >STAFF: <span style="font-size: 30px; margin-left: 5px;">{{bin_staff_count}}</span></a><br>
                                    <a href="{% url 'badgedinnonstaff' %}?username={{username}}&gate={{gate}}" style="text-decoration: none; font-weight: 600;" class="text-dark">NON STAFF: <span style="font-size: 30px; margin-left: 5px;">{{bin_nonstaff_count}}</span></a>
                                </div>
                                
                                
                            </div>
                            <div class="col-4 pt-3">
                                <i class="p-3 fas fa-sign-in-alt    " style="font-size: 25px; border: 1px solid brown; border-radius: 50%; margin-left: 20px;"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-3">
            <a href="" style="color:#5D4037; text-decoration: none;">
                <!-- <button class="btn p-5" style="background-color: #A52A2A" ><h6 class="text-dark">count: {{person_count}}</h6><h4 class="text-white">Registered Persons </h4></button> -->
                <div class="card bg-white shadow p-2 ">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h6 class="card-title" style="font-weight: 600;">BADGED OUT GADGETS</h6>
                                <hr>
                                <div class="card-text" style="display: flex; justify-content:space-around;">
                                    <a href="{% url 'badgedoutstaff' %}?username={{username}}&gate={{gate}}" style="text-decoration: none; font-weight: 600;" class="text-dark" >STAFF: <span style="font-size: 30px; margin-left: 5px;">{{bout_staff_count}}</span></a><br>
                                    <a href="{% url 'badgedoutnonstaff' %}?username={{username}}&gate={{gate}}" style="text-decoration: none; font-weight: 600;" class="text-dark">NON STAFF: <span style="font-size: 30px; margin-left: 5px;">{{bout_nonstaff_count}}</span></a>
                                </div>
                                
                            </div>
                            <div class="col-4 pt-3">
                                <i class="p-3 ml-3 fas fa-sign-out-alt    " style="font-size: 25px; border: 1px solid brown; border-radius: 50%;"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </a>
        </div>
    
    </div>
    <div class="row" >
        <div class="row rounded p-2 ">
            <div class="col-6  ">
                <div class="mr-2 bg-white shadow p-2">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <!-- <div class="col-1">

            </div> -->
            <div class="col-6 ">
                <div class="mr-2 bg-white shadow p-2">
                    <canvas class="text-white" id="my1"></canvas>
                </div>
                
            </div>
        </div>
        <!-- <div class=" bg-white shadow rounded p-2" style="margin-left: 3px;">
            
        </div> -->
    </div>
</div>
{% load static %}
<script src="{% static 'chart.js' %}"></script>
<script src="{% static 'chart.min.js' %}"></script>

<script>
    const labels = {{monthNumber|safe}};

  const data = {
    labels: labels,
    datasets: [{
        label: 'Badged in bank_gadgets for staff',
        backgroundColor: 'rgb(100,0,100)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{in_staff_count}},
      },
      {
        label: 'Badged in personal_gadgets for staff',
        backgroundColor: 'rgb(100,200,100)',
        borderColor: 'rgb(255, 99, 132)',
        data: {{in_staff_count_personal}},
      },
      {
      label: 'Badged in gadgets for non staff',
      backgroundColor: 'rgb(0,0,100)',
      borderColor: 'rgb(255, 99, 132)',
      data: {{count}},
      
      }
      
    ]
  };

  const label = {{bo_monthNumber|safe}};

  const data1 = {
    labels: label,
    datasets: [{
      label: 'Badged out bank_gadgets for staff',
      backgroundColor: 'rgb(0,100,100)',
      borderColor: 'rgb(255, 99, 132)',
      data: {{out_staff_count}},
    },
    {
      label: 'Badged out peronal_gadgets for staff',
      backgroundColor: 'rgb(200,200,100)',
      borderColor: 'rgb(255, 99, 132)',
      data: {{out_staff_count_personal}},
    },
    {
      label: 'Badged out gadgets for non staff',
      backgroundColor: 'rgb(0,100,0)',
      borderColor: 'rgb(255, 99, 132)',
      data: {{bo_count}},
    }
    ]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };

  const config1 = {
    type: 'bar',
    data: data1,
    options: {}
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
  const my1 = new Chart(
    document.getElementById('my1'),
    config1
  );
</script>

{% endblock content %}